.content{
    text-align: center;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 25%;
    color: white;
}
body{
    background-image: url(background1.jpg);
    background-size: cover;
    opacity: 60%;
}

html{
height: 100%;
}